In [17]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r'd:\Users\mohamed.badawi\Downloads\student_performance_dataset.csv')
df.head(10)

,student_id,name,subject,score,date,attendance,participation,homework_completion,parent_meeting,semester
0,9074,Wael Adel,Art,25.0,2022-06-03,Present,High,True,Missed,Spring 2023
1,1586,Ahmed Mekky,English,38.0,2022-10-23,Absent,Medium,False,Missed,Fall 2022
2,5560,Ehab Hassan,Physical Education,29.0,2023-01-23,Present,Low,NaN,NaN,Spring 2023
3,5443,Hassan Soliman,Chemistry,60.0,2023-04-17,Present,High,False,Missed,Fall 2023
4,9988,Tamer Amin,Math,8.0,2022-04-27,Absent,Medium,False,Attended,Spring 2024
5,4325,Huda Shawky,Geography,12.0,2021-10-02,Present,Low,True,NaN,Fall 2023
6,3743,Ahmed Adel,History,99.0,2023-04-10,Absent,High,True,Missed,Spring 2024
7,4945,Fatma Soliman,Physics,23.0,2022-01-21,Present,Medium,True,Missed,Spring 2024
8,8682,Laila Fathi,Physical Education,47.0,2023-03-16,Present,NaN,False,NaN,Fall 2023
9,7049,Youssef Kamel,Physics,10.0,2024-08-14,Present,Medium,False,Missed,Fall 2022

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65011 entries, 0 to 65010
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   student_id           65011 non-null  int64
 1   name                 63702 non-null  object
 2   subject              65011 non-null  object
 3   score                58427 non-null  float64
 4   date                 65011 non-null  object
 5   attendance           61695 non-null  object
 6   participation        48820 non-null  object
 7   homework_completion  43294 non-null  object
 8   parent_meeting       43271 non-null  object
 9   semester             65011 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 5.0+ MB

In [4]:
df.columns

Index(['student_id', 'name', 'subject', 'score', 'date', 'attendance',
       'participation', 'homework_completion', 'parent_meeting', 'semester'],
      dtype='object')

In [19]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65011 entries, 0 to 65010
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   student_id           65011 non-null  int64
 1   name                 63702 non-null  object
 2   subject              65011 non-null  object
 3   score                58427 non-null  float64
 4   date                 65011 non-null  datetime64[ns]
 5   attendance           61695 non-null  object
 6   participation        48820 non-null  object
 7   homework_completion  43294 non-null  object
 8   parent_meeting       43271 non-null  object
 9   semester             65011 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 5.0+ MB

In [21]:
df.date

0       2022-06-03
1       2022-10-23
2       2023-01-23
3       2023-04-17
4       2022-04-27
           ...
65006   2023-04-17
65007   2023-03-26
65008   2023-11-25
65009   2022-08-19
65010   2021-08-05
Name: date, Length: 65011, dtype: datetime64[ns]

In [22]:
print(df.isnull().sum())

student_id                 0
name                    1309
subject                    0
score                   6584
date                       0
attendance              3316
participation          16191
homework_completion    21717
parent_meeting         21740
semester                   0
dtype: int64

In [23]:
print(df.duplicated().sum())

0

In [27]:
df['attendance'] = df['attendance'].fillna("Absent")
for col in ['participation', 'homework_completion', 'parent_meeting', 'name']:
    df[col] = df[col].fillna("Unknown")

In [29]:
df['score'] = df.groupby('subject')['score'].transform(lambda x: x.fillna(x.mean()))

In [7]:
df['attendance'] = df['attendance'].str.strip().str.capitalize()

In [24]:
df.describe()

         student_id         score                           date
count  65011.000000  58427.000000                          65011
mean    4996.122225     49.979462  2022-12-30 02:39:11.565119744
min        1.000000      0.000000            2021-01-01 00:00:00
25%     2502.000000     25.000000            2022-01-04 00:00:00
50%     4995.000000     50.000000            2023-01-01 00:00:00
75%     7490.000000     75.000000            2023-12-27 00:00:00
max    10000.000000    100.000000            2024-12-28 00:00:00
std     2885.393416     29.140728                            NaN

In [14]:
def categorize(score):
    if score >= 85:
        return "High"
    elif score >= 50:
        return "Medium"
    else:
        return "Low"

df['performance_level'] = df['score'].apply(categorize)
print(df['performance_level'])

0           Low
1           Low
2           Low
3        Medium
4           Low
          ...
65006    Medium
65007       Low
65008       Low
65009       Low
65010       Low
Name: performance_level, Length: 65011, dtype: object

In [30]:
df.isnull().sum()

student_id             0
name                   0
subject                0
score                  0
date                   0
attendance             0
participation          0
homework_completion    0
parent_meeting         0
semester               0
dtype: int64

In [32]:
df.to_csv('DEPI_FILTERED_DATA.csv', index=False)